<div class="all-disease">
    <div class="container">
      <h2>{{disease.chronic_disease}}</h2>
      <div class="disease">
        <div>
  
              <i class="fa fa-duotone fa-bacteria"></i>
              <h2> {{disease.chronic_disease}} :</h2>
              <div class="descrebtion">
                <h4>Describton:</h4>
                <p >{{disease.description}} </p>
              </div>
              <div class="syndrome">
                <h4>Syndrome:</h4>
                <p>{{disease.syndrome}}</p>
              </div>
              <div class="treatment">
                <h4>Treatment:</h4>
                <p>{{disease.treatment}}</p>
              </div>
        </div>
      </div>
  

    </div>
  
  
  
  
  
  </div>
