
<div class="add-donor">
  <div class="container ">
    <div class="row">

      <div class="col-md-12">
        <h1>Add New Donor</h1>

      <div class="alert alert-info" role="alert" *ngIf="message">
        {{message}}
      </div>

        <form [formGroup]='Form' (ngSubmit)="submit(Form)" autocomplete="off">

          <div class="row">

            <div class="col-md-6 col-xs-12">
              <label for="first">Name <span>*</span></label>
              <input type="text" class="form-control" formControlName='name' placeholder="Full Name"
                name="name">
              <div class="error">
                <div *ngIf='Form.get("name").touched && Form.get("name").errors?.pattern'>
                  Please Type Only Characters At least 2.
                </div>
                <div *ngIf='Form.get("name").touched && Form.get("name").errors?.required'>
                  Name Is Required.
                </div>
              </div>
            </div>

            <div class="col-md-6 col-xs-12">
              <label for="">Phone Number <span>*</span></label>
              <input type="text" class="form-control" placeholder="Phone" formControlName='mobile' name="phone">
              <div class="error">
                <div *ngIf='Form.get("mobile").touched && Form.get("mobile").errors?.pattern'>
                  Please Type Only Numbers At least 8 Numbers.
                </div>
                <div *ngIf='Form.get("mobile").touched && Form.get("mobile").errors?.required'>
                  Phone Number Is Required.
                </div>
              </div>
            </div>

            <div class="col-md-6 col-xs-12">
              <label>National Number <span>*</span></label>
              <input type="text" class="form-control" formControlName='national_id' placeholder="National Id"
                name="national_id">
              <div class="error">
                <div *ngIf='Form.get("national_id").touched && Form.get("national_id").errors?.pattern'>
                  Please Type 14 Numbers.
                </div>
                <div *ngIf='Form.get("national_id").touched && Form.get("national_id").errors?.required'>
                  Id Is Required.
                </div>
              </div>
            </div>

            <div class="col-md-6 col-xs-12">
              <label> Full Address <span>*</span></label>
              <select name="address" class="form-control" formControlName='address'>
                <option *ngFor="let ad of address" [value]='ad.name'>
                  {{ad.name}}
                </option>
              </select>
              <div class="error">
                <div *ngIf='Form.get("address").touched && Form.get("address").errors?.required'>
                  Address Is Required.
                </div>
              </div>
            </div>


            <div class="col-md-6" >
              <label>Blood Type <span>*</span></label><br>
              <select name="blood_type" formControlName='blood_type' placeholder="blood" class="custom-select">
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
              </select>
              <div class="error">
                <div *ngIf='Form.get("blood_type").touched && Form.get("blood_type").errors?.required'>
                  Blood Type Is Required.
                </div>
              </div>
            </div>
            <div class="error" style="width: 100%;">
              <div *ngIf='erroeMassage'>
                {{erroeMassage}}
              </div>
            </div>
            <button type="submit" [disabled]="!Form.valid">Submit</button>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>


