<app-navbar></app-navbar>
<div class="all-disease">
  <div class="container">
    <h2>All Diseases</h2>
    <div class="disease">
      <div *ngFor="let post of disease|paginate:{itemsPerPage: tableSize, currentPage: page, totalItems: count};let i=index">
        <i class="fa fa-duotone fa-bacteria"></i>
        <h2> {{post.chronic_disease}} :</h2>
        <div class="descrebtion">
          <h4>Description:</h4>
          <p>
            <span *ngIf="post.description?.length > 100">
              <cdk-accordion class="example-accordion">
                <cdk-accordion-item #accordionItem3="cdkAccordionItem" class="example-accordion-item" role="button"
                  tabindex="0" [attr.id]="'accordion-header-' + i" [attr.aria-expanded]="accordionItem3.expanded"
                  [attr.aria-controls]="'accordion-body-' + i">
                  <span class="example-accordion-item-header" (click)="accordionItem3.toggle()">
                    {{post.description| slice:0:100}}<span class="example-accordion-item-body" role="region"
                      [style.display]="accordionItem3.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + i"
                      [attr.aria-labelledby]="'accordion-header-' + i">{{post.description | slice:100}}
                    </span>

                    <span class="example-accordion-item-description text-primary">
                      {{ accordionItem3.expanded ? ' less' : ' more...' }}
                    </span>
                  </span>
                </cdk-accordion-item>
              </cdk-accordion>
            </span>
            <span *ngIf="post.description?.length < 100">{{post.description}}</span>
          </p>
        </div>

        <div class="syndrome">
          <h4>Syndrome:</h4>
          <p>
            <span *ngIf="post.syndrome?.length > 200">
              <cdk-accordion class="example-accordion">
                <cdk-accordion-item #accordionItem1="cdkAccordionItem" class="example-accordion-item" role="button"
                  tabindex="0" [attr.id]="'accordion-header-' + i" [attr.aria-expanded]="accordionItem1.expanded"
                  [attr.aria-controls]="'accordion-body-' + i">
                  <span class="example-accordion-item-header" (click)="accordionItem1.toggle()">
                    {{post.syndrome| slice:0:200}}<span class="example-accordion-item-body" role="region"
                      [style.display]="accordionItem1.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + i"
                      [attr.aria-labelledby]="'accordion-header-' + i">{{post.syndrome | slice:200}}
                    </span>

                    <span class="example-accordion-item-description text-primary">
                      {{ accordionItem1.expanded ? ' less' : ' more...' }}
                    </span>
                  </span>
                </cdk-accordion-item>
              </cdk-accordion>
            </span>
            <span *ngIf="post.syndrome?.length < 200">{{post.syndrome}}</span>
          </p>
        </div>

        <div class="treatment">
          <h4>Treatment:</h4>
          <p>
            <span *ngIf="post.treatment?.length > 200">
              <cdk-accordion class="example-accordion">
                <cdk-accordion-item #accordionItem2="cdkAccordionItem" class="example-accordion-item" role="button"
                  tabindex="0" [attr.id]="'accordion-header-' + i" [attr.aria-expanded]="accordionItem2.expanded"
                  [attr.aria-controls]="'accordion-body-' + i">
                  <span class="example-accordion-item-header" (click)="accordionItem2.toggle()">
                    {{post.treatment| slice:0:200}}<span class="example-accordion-item-body" role="region"
                      [style.display]="accordionItem2.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + i"
                      [attr.aria-labelledby]="'accordion-header-' + i">{{post.treatment | slice:200}}
                    </span>

                    <span class="example-accordion-item-description text-primary">
                      {{ accordionItem2.expanded ? ' less' : ' more...' }}
                    </span>
                  </span>
                </cdk-accordion-item>
              </cdk-accordion>
            </span>
            <span *ngIf="post.treatment?.length < 200">{{post.treatment}}</span>
          </p>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-20 ">
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
      </pagination-controls>
      <div class="current-page"> current page: <span>{{page}}</span></div>
    </div>
  </div>

</div>
<!-- footer-->
<app-footer></app-footer>