<footer>
  <div class="footer">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex">
          <h3 class="mb-0"><img src="assets/images/WhatsApp_Image_2022-04-06_at_6.33.27_AM-removebg-preview.png"></h3>
        </div>

        <div class="col-lg-3 col-md-6">
          <h3> Contacts</h3>
          <p> <i class="fa fa-phone icons "></i>Phone: 01024722086</p>
          <p><i class="fa fa-map-marker icons "></i> Address: Naser City, Cairo, Egypt</p>
          <p> <i class="fa fa-envelope icons "></i>Email: healthyhistory2022@gmail.com</p>
          <p> <i class="fa fa-skype icons "></i>Skype:you_online</p>
        </div>

        <div class="col-lg-3 col-md-6">
          <h3> Links</h3>
          <div class="footerLink">
            <p> <a routerLink="/" (click)="goToTop()"> Home </a></p>
            <p> <a routerLink='/' fragment="about"> About Us</a></p>
            <p> <a routerLink='/' fragment="donation"> Donation </a></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <h3>About us</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci quos nostrum
            ipsam accusantium alias et quae tempore, non deserunt saepe corrupti
            suscipit? Illum provident sed consequuntur eius animi, voluptas soluta.
          </p>

          <div class="links">
            <a href="#"><i class="fa fa-facebook icons fontIcon "></i></a>
            <a href="#"><i class="fa fa-twitter icons fontIcon"></i></a>
            <a href="#"><i class="fa fa-instagram icons fontIcon"></i></a>
            <a href="#"><i class="fa fa-pinterest icons fontIcon"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright © 2022 - All rights reserved</p>
  </div>
</footer>
