
<div class="edit">
    <div class="container ">
      <div class="row">
  
        <div class="col-md-12">
          <h1>Edit Advice</h1>
  
        <div class="alert alert-info" role="alert" *ngIf="message">
          {{message}} 
        </div>
          <form [formGroup]='myGroup' (ngSubmit)="edit(myGroup)">
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <label for="first">ID <span>*</span></label>
                <input type="text"  class="form-control" formControlName='id' placeholder="Id"
                  name="Id">
 
              </div>

              <div class="col-md-12 col-xs-12">
                <label for="first">Advice <span>*</span></label>
                <textarea type="text" class="form-control" rows="3" formControlName='advice' 
                  placeholder="Advice"
                  name="advice"></textarea>
              </div>

              <div class="col-md-12 col-xs-12">
                <label for="first">Status <span>*</span></label>
                <div class="custom-control custom-control-dark custom-switch">
                    <input type="checkbox"  formControlName='status' class="custom-control-input"
                        id="customSwitch8" />
                    <label class="custom-control-label" for="customSwitch8"></label>
                </div>
              </div>


              <div class="error" style="width: 100%;">
                <div *ngIf='erroeMassage'>
                  {{erroeMassage}}
                </div>
              </div>

              <button type="submit" [disabled]="!myGroup.valid">Edit</button>
            </div>
          </form>
  
  
        </div>
      </div>
    </div>
  </div>
