<app-navbar></app-navbar>
<div class="search">

  <div class="container pt-30px">
    <div class="row">
      <div class="col-md-12">
        <h1>Find Donor</h1>

        <div class="alert alert-info" role="alert" role="alert" >
          If you want to show all Donors <a style="cursor: pointer; color: #1ccde9;"
            (click)="goToAllDonors(); ">click here</a>
        </div>


        <form [formGroup]='search_form' autocomplete="off" (ngSubmit)="search(search_form)">
          <div class="col-md-12 col-xs-12">
            <label> Full Address <span>*</span></label>
            <select name="address" class="form-control" formControlName='address'>
              <option *ngFor="let ad of address" [value]='ad.name'>
                {{ad.name}}
              </option>
            </select>
            <div class="error">
              <div *ngIf='search_form.get("address").touched && search_form.get("address").errors?.required'>
                Address Is Required.
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <label>Blood Type <span>*</span></label><br>
            <select name="blood_type" formControlName='blood_type' placeholder="blood type" class="custom-select">
              <option value="A+">A+</option>
              <option value="A-">A-</option>
              <option value="B+">B+</option>
              <option value="B-">B-</option>
              <option value="AB+">AB+</option>
              <option value="AB-">AB-</option>
              <option value="O+">O+</option>
              <option value="O-">O-</option>
            </select>
            <div class="error">
              <div *ngIf='search_form.get("blood_type").touched && search_form.get("blood_type").errors?.required'>
                Blood Type Is Required.
              </div>
            </div>
          </div>

          <button [disabled] ='!search_form.valid'>Search</button>
        </form>

        <div class="alert alert-danger" role="alert" *ngIf="message">
          {{message}}
        </div>

      </div>
    </div>
  </div>


    <div class="container mt-3"  *ngIf="donors?.length != undefined ||donors?.length != 0">
      <!-- <h2 class="decor2" *ngIf="donors?.length != undefined ||donors?.length !=0" >Available Donors</h2> -->
      <div style="overflow-x: auto;">
        <table border="1px" class="table-disease"  *ngIf="donors?.length != 0 ">
          <thead class="p-2" *ngIf="donors?.length != undefined">
            <th class="p-2 color-transparent">#</th>
            <th class="p-2">Name</th>
            <th class="p-2">Mobile</th>
            <th class="p-2">Address</th>
          </thead>
          <tr *ngFor="let donor of donors; index as i">
            <td>{{i + 1}}</td>
            <td>{{donor.name}}</td>
            <td>{{donor.mobile}}</td>
            <td>{{donor.address}}</td>
          </tr>
        </table>
      </div>
    </div>




</div>


<app-footer></app-footer>

