<div class="edit">
  <div class="container ">
    <div class="row">

      <div class="col-md-12">
        <h1>Edit Disease</h1>

        <div class="alert alert-info" role="alert" *ngIf="message">
          {{message}}
        </div>

        <form [formGroup]='myGroup' (ngSubmit)="edit(myGroup)">
          <div class="row">

            <div class="col-md-12 col-xs-12">
              <label>ID <span>*</span></label>
              <input type="text" class="form-control" formControlName='id' placeholder="Id" name="Id">
            </div>

            <div class="col-md-12 col-xs-12">
              <label>chronic_disease <span>*</span></label>
              <input type="text" class="form-control" formControlName='chronic_disease' 
                placeholder="Chronic Disease"
                name="chronic_disease">
            </div>

            <div class="col-md-12 col-xs-12">
              <label for="first">Description<span>*</span></label>
              <textarea type="text" rows="3" class="form-control" formControlName='description'
                placeholder="description" name="description"></textarea>
            </div>

            <div class="col-md-12 col-xs-12">
              <label for="first">Treatment<span>*</span></label>
              <textarea type="text" rows="3" class="form-control" formControlName='treatment'  
                placeholder="treatment"
                name="treatment"></textarea>
            </div>

            <div class="col-md-12 col-xs-12">
              <label for="first">Syndrome<span>*</span></label>
              <textarea type="text" rows="3" class="form-control" formControlName='syndrome' 
                placeholder="syndrome"
                name="syndrome"></textarea>
            </div>

            <div class="error" style="width: 100%;">
              <div *ngIf='erroeMassage'>
                {{erroeMassage}}
              </div>
            </div>

            <button type="submit">Edit</button>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>