<div class="edit">
    <div class="container ">
      <div class="row">
  
        <div class="col-md-12">
          <h1>Edit Your Information</h1>
  
        <div class="alert alert-info" role="alert" *ngIf="message">
          {{message}} 
        </div>
  
          <form [formGroup]='myGroup' (ngSubmit)="submit(myGroup)">
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <label for="first">Name <span>*</span></label>
                <input type="text" class="form-control" [value]="this.admin_info.name" formControlName='name' 
                  placeholder="Name"
                  name="name">
                <div class="error">
                  <div *ngIf='myGroup.get("name")?.touched && myGroup.get("name").errors?.pattern'>
                    Please Type Only Characters At least 2.
                  </div>
                </div>
              </div>
  
              <div class="col-md-12 col-xs-12">
                <label for="first">Email <span>*</span></label>
                <input type="email" class="form-control" email [value]="this.admin_info.email" formControlName='email'  
                  placeholder="Email"
                  name="full_name">
                <div class="error">
                  <div *ngIf='myGroup.get("email")?.touched && myGroup.get("email").errors?.pattern'>
                    Please Type Valid Email.
                  </div>
                </div>
              </div>

              <div class="error" style="width: 100%;">
                <div *ngIf='erroeMassage'>
                  {{erroeMassage}}
                </div>
              </div>

              <button type="submit" [disabled]="!myGroup.valid">Edit</button>
            </div>
          </form>
  
  
        </div>
      </div>
    </div>
  </div>
