.all-users{
    position: relative;
    top: 0px;
  }
  .container{
    padding: 30px ;
    text-align: center;
  }
   ::ng-deep .pagination{
     margin-top: 20px ;
    justify-content: center !important;
  }
  h2{
    text-align: center;
    margin: 30px 0 40px;
    font-size: 30px;
    color: var(--black);
  }
  table{
    width: 100%;
    background-color: white;
    color: var(--black);
    /* margin: auto; */
  }
 
  table td , th{
    padding: 10px;
  }
  .current-page{
    font-size: 14px;
    margin-top: 3px;
  }
  .current-page span{
    color: #65e6e2;
  }
  .content{
    margin: auto;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
  }
  .table{
    width: 95%;
  }
  .mt-20{
    color: white;
    margin-top: 20px;
  }
  table
  {
      text-align: center;
      width: 100%;
      border: 0;
      background-color: #f8f9fa !important;
  }
  table th ,
  table td{
    border: 0;
      white-space: nowrap;
      text-align: left;
      border-bottom: 1px solid #d6d8db;
  }
  table th{
    vertical-align: bottom;
    background: #d6d8db;
  }
  ::ng-deep .ngx-pagination li:hover{
    background-color: var(--black) !important;
  }
  ::ng-deep .ngx-pagination .current{
    background-color: var(--black) !important;
  }
  ::ng-deep .ngx-pagination .disabled {
    color: #585151 !important;
  }
  
  @media (max-width:575px) {
    .hidden-sm{
      display: none !important;
    }
    .container{
      padding: 15px;
      font-size: small;
    }
    .content{
      width: 100%;
      display: block;
    }
    .table{
      margin: auto;
      width: 100%;
    }
    table td , th{
      font-size:11px;
      padding: 3px;
    }
  }
  