<div class="all-users">
  <div class="container">
    <h2>All Patients</h2>
    <div class="content" style="overflow-x: auto;">
      <div class="table">

        <table border="1px">
          <thead class="p-2">
            <th class="p-2 color-transparent">#</th>
            <th class="p-2">Name</th>
            <th class="p-2">Address</th>
            <th class="p-2 larg">Mobile</th>
            <th class="p-2 larg">National_id</th>
            <th class="p-2 larg">Date_of_birth</th>
            <th class="p-2 larg">social_status</th>
            <th class="p-2 larg">Blood_type</th>
            <th class="p-2 larg">created_at</th>
          </thead>
          <tbody>
            <tr *ngFor="let post of users | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };
              let i = index">
              <td scope="row">{{i+1}}</td>
              <td>{{post.full_name}}</td>
              <td>{{post.address}}</td>
              <td>{{post.mobile}}</td>
              <td>{{post.national_id}}</td>
              <td>{{post.date_of_birth}}</td>
              <td>{{post.social_status}}</td>
              <td>{{post.blood_type}}</td>
              <td>{{post.created_at | slice :0:10}}</td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-center mt-20 ">
          <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
          </pagination-controls>
          <div class="current-page"> current page: <span>{{page}}</span></div>
        </div>

      </div>


      <div class="d-flex flex-row-reverse bd-highlight mb-2 hidden-sm">
        <div class="p-2 bd-highlight">
          <select (change)="onTableSizeChange($event)" class="custom-select">
            <option *ngFor="let size of tableSizes" [ngValue]="size">
              {{ size }}
            </option>
          </select>
        </div>
      </div>

    </div>

  </div>
</div>