<h3 class="header" style="color: var(--main);">Blood <span style="color: var(--black);">Donation</span></h3>
<section id="slider">
  <input type="radio" name="slider" id="s1">
  <input type="radio" name="slider" id="s2">
  <input type="radio" name="slider" id="s3" checked>
  <input type="radio" name="slider" id="s4">
  <input type="radio" name="slider" id="s5">

  <label for="s1" id="slide1">
    <div class="content">
      <img
        src="../../../assets/images/world-blood-donor-day-june-14th-hand-taking-blood-test-from-
        vein-donation-hemotransfusion-department-hospital-man-holds-bouncy-ball-form-heart-hand_117638-89.jpg">
      <h2>Conditions for donating blood:</h2>
      <p>The donor must be in good health and not suffer from any contagious diseases.
        The hemoglobin level for men should be 14-17 g, and for women it should be 12-14 g.
        The age of the donor should be between 18-65 years.
        The average blood pressure is less than 120/80 mm Hg.
        The pulse should be between 50-100 per minute.
      </p>
    </div>
  </label>

  <label for="s2" id="slide2">
    <div class="content">
      <img src="../../../assets/images/فوائد-التبرع-بالدم-الأربعة.jpg">
      <h2>Importance of donating blood:</h2>
      <p>Blood transfusion is one of the operations that contribute to saving lives; It is given in such cases:
        When complications occur for pregnant women, such as bleeding before, during or after childbirth.For patients
        during surgical operations such as heart operations, blood vessels, organ transplant surgery
        and others. For people with blood diseases.those injured in accidents</p>
    </div>
  </label>

  <label for="s3" id="slide3">
    <div class="content">
      <img src="../../../assets/images/nurse-holding-blood-test-tube.jpg">
      <h2>Blood donation:</h2>
      <p>It is a voluntary medical procedure in which blood or one of its compounds is transferred from a healthy
        person to a sick person who needs blood. This procedure is needed by millions of people every year;
        It is used during surgery, accidents, or some diseases that require transfusion of some blood components.</p>
      <span><a routerLink='add-donor'>Donate now</a></span>
    </div>
  </label>

  <label for="s4" id="slide4">
    <div class="content">
      <img src="../../../assets/images/young-handsome-physician-medical-robe-with-stethoscope_1303-17818.jpg">
      <h2>Tips after donating blood:</h2>
      <p>After the donation, take a rest and have a snack, and after 10-15 minutes you can leave the place of
        donation
        Avoid strenuous physical activity or heavy lifting for 5 hours after the donation.
        When feeling dizzy, it is recommended to lie on the back with the feet raised. Drinking a lot of fluids.</p>
    </div>
  </label>

  <label for="s5" id="slide5">
    <div class="content">
      <img src="../../../assets/images/surgeon-holding-covid-19-test-tube.jpg">
      <h2>How much blood is donated?</h2>
      <p>The human body contains five liters of blood on average, and the amount of donated blood is estimated at 450
        milliliters of blood, and this represents only 8% of the average blood volume in an adult,
        and it does not affect at all on the normal activity of the blood donor.</p>
    </div>
  </label>
</section>