<app-navbar></app-navbar>
<div class="login">
  <div class="container ">
    <div class="row">
      <div class="col-md-12">
        <h1>Login</h1>
        <form [formGroup]='Form' autocomplete="off" (ngSubmit)="login(Form);">
          <input type="text" class="form-control"  formControlName='national_id' placeholder="Enter Your Id" name="national_id">
          <div class="error">
            <div *ngIf='Form.get("national_id").touched && Form.get("national_id").errors?.pattern'>
              Please Type 14 Numbers.
            </div>
            <div *ngIf='Form.get("national_id").touched && Form.get("national_id").errors?.required'>
              Id Is Required.
            </div>
            <div *ngIf='loginError'>
              {{loginError}} Please create a diagnosis <a routerLink="/register"> Form here</a> if you dont have one.
            </div>
          </div>
          <button [disabled] ='!Form.valid' >Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<div class="dialog-1">
  <img src="../../../assets/images/right1.jpg" width="25px">{{message}}
</div>

