
.chart-canvas{
    width: 100% !important;
    display: none;
}
.chart-canvas canvas{
    height: 360px !important;
    width: 92% !important;
}





   :root {
    /* Color Theming */
    --first-bg-color:  #252f3b; 
    --second-bg-color: #1B2533;
    --first-font-color: white;
    --second-font-color: #21cd92; 
    --overall-top-margin: 30px;
    --dashboard-margin: 40px;
    --nav-side-bar-margin-left: 20px;     
    --border-radius: 10px;
    --font-size-xs: 16px;
    --font-size-medium: 28px;
    --font-size-large: 48px;
  }

/* CSS Styling Admin Dashboard Header */


.dashboard{
    padding:0 25px;
}
h3
{
    color: white;
}
.dashboard-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 var(--dashboard-margin);
    padding-bottom: 50px;
    gap: 50px;
}

@media only screen and (max-width: 1200px) {
    .dashboard-cards{
        grid-template-columns: 1fr;
    }
}

.card {
    width: 100%;   
    background-color: #1d0ebbd3;
}

.chart-canvas {
    margin: 20px;
    position: relative;
    min-height: 250px;
}

.chart-options {
    position: absolute;
    right: 30px;
    top: 14px;
}

#cashstreamEC {
    background-color: transparent;
    color: var(--second-font-color);
    border: none;
    outline: none;
    font-size: 16px;
}

#cashstreamEC option {
    color: #666;
    background-color: transparent;
  }

  table
{
    text-align: center;
    background-color: #f8f9fa !important;
}
.table-name{
    margin-top: 4rem;
    color: #0f2075;
    font-weight: 500;
    font-weight: 500;
    font-size: 30px;
}
td{
    text-align: center;
    vertical-align: middle;
}
.blueData
{
color: #0f2075
}
.admin{
    background-color:#1d0ebbd3;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    color: white;
  border-radius: 5px;
}
img
{
    width:50px;
border-radius: 50%;
}
.icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    background-color:#1d0ebbd3;
    margin: auto;
    border-radius: 50%;

    font-size: 2.5rem;
   
}


span
{
    padding: 7px;
    border-radius: 50%;
    font-size: 12px;
}
.icona1
{    
   color: #0f2075;
   margin-right: 2px;
}
.icona2
{
    color:  #dc3545;
}

.tab{
    overflow-x: auto;
    width: 100%;
}
table th ,
table td{
    text-align: left;
}

p.text{
    text-align: left;
    line-height: 25px;
    font-weight: 100;
    font-size: 15px;
}
.no-p span{
    padding: 0 !important;
}
::ng-deep .example-accordion-item-description{
    padding: 0 !important;
}
@media (max-width:1024px) {
    table td{
        font-size: 13px;
    }
}


 
#plots{
    width: 100% !important;   
    margin: auto;
    border-radius: 10px;
    height: 300px;
    border: 1px solid #ebe9f1;
   }

   #lineChart
   {
    width: 100% !important;   
    margin: auto; 
    border-radius: 10px;
    height: 300px;
    border: 1px solid #ebe9f1;
   }
   i{
    cursor: pointer;
    font-size: 16px;
}

table.disease td{
    cursor: pointer;
}

@media (max-width:1025px) {
    .flow-charts{
        flex: 100%;
        max-width: 100%;
    }
    .description{
        flex: 90%;
        max-width: 90%;
    }
    .dashboard{
        margin-top: 0;
    }
}

@media (max-width:575px) {

    .description{
        flex: 100%;
        max-width: 100%;
    }
}