<div class="add">
    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <h1>Add Advice</h1>
                <div class="alert alert-info" role="alert" *ngIf="message">
                    {{message}}
                </div>
                <form [formGroup]='Form' (ngSubmit)="addAdvice(Form)">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <label for="first">Advice <span>*</span></label>
                            <textarea type="text" class="form-control"  rows="3" formControlName='advice' 
                                placeholder=" Type Advice" name="advice"></textarea>
                            <div class="error">
                                <div *ngIf='Form.get("advice").touched && Form.get("advice").errors?.required'>
                                    Advice Is Required.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-xs-12">
                            <label for="first">Status <span>*</span></label>
                            <div class="custom-control custom-control-dark custom-switch">
                                <input type="checkbox" checked formControlName='status'
                                    class="custom-control-input" id="customSwitch8" />
                                <label class="custom-control-label" for="customSwitch8"></label>
                            </div>

                            <div class="error" style="width: 100%;">
                                <div *ngIf='erroeMassage'>
                                    {{erroeMassage}}
                                </div>
                            </div>
                            <button type="submit" [disabled]="!Form.valid">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>