<div class="login">
  <div class="overlay"></div>
  <div class="container ">
    <div class="row">
      <div class="col-md-12">
        <h1>Login</h1>
        <form [formGroup]='Form' (ngSubmit)="login(Form);">
          <label for="">Username</label>
          <input type="text" class="form-control" formControlName='username' placeholder="Enter Your Username"
            name="username">
          <div class="error">
            <div *ngIf='Form.get("username")?.touched && Form.get("username").errors?.pattern'>
              Please Type 14 Numbers.
            </div>
            <div *ngIf='Form.get("username")?.touched && Form.get("username").errors?.required'>
              Id Is Required.
            </div>
          </div>

          <label for="">Password</label>
          <input type="text" class="form-control" formControlName='password' placeholder="Enter Your Password"
            name="password">
          <div class="error">
            <div *ngIf='Form.get("password")?.touched && Form.get("password").errors?.pattern'>
              Please Type 14 Numbers.
            </div>
            <div *ngIf='Form.get("password")?.touched && Form.get("password").errors?.required'>
              Id Is Required.
            </div>
            <div *ngIf='loginError'>
              {{loginError}}
            </div>
          </div>

          <button [disabled]='!Form.valid'>Login</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="dialog-1">
  <img src="../../../assets/images/right1.jpg" width="25px">{{message}}
</div>