<div class="all-page">
  <app-navbar></app-navbar>
  <div class="profile section">

    <div class="section one">
      <div class="container">
        <div class="photo_header">
          <h1 class="head ">Personal Details</h1>
          <form [formGroup]="Photo_Form" class="form-img">

            <label for="photo">
              <img [src]="userInfo?.photo" class="user-img" alt="photo_personal_data">
            </label>
            <input type="file" id="photo" formControlName='photo' (change)="addPhoto($event) ; " hidden>
            
          </form>

          <h3 class="pt-3">{{userInfo?.full_name}}</h3>
        </div>
        <div class="row d-flex justify-content-between">
          <div class="col-md-6">
            <ul>
              <li><i class="fa fa-calendar"></i><span>Age: {{userInfo?.age}}</span></li>
              <li><i class="fa fa-phone"></i> <span>Phone: {{userInfo?.mobile}}</span></li>
              <li><i class="fa fa-id-card"></i><span>ID: {{userInfo?.national_id}}</span></li>
              <li><i class="fa fa-tint red"></i>
                <span class="no_awsom">Blood_Type: {{userInfo?.blood_type}}</span>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li><i class="fa fa-map-marker"></i><span>Address: {{userInfo?.address}}</span></li>
              <li><i class="fa fa-venus-mars"></i><span>Gender: {{userInfo?.sex}}</span></li>
              <li><i class="fa fa-envelope"></i><span>Date_Of_Birth: {{userInfo?.date_of_birth}}</span></li>
              <li><i class="fa fa-heart "></i><span class="no_awsom">Social_Status: {{userInfo?.social_status}}</span></li>
            </ul>
          </div>
        </div>
        <div class="for-edit">
          <a routerLink='/profile' fragment="edit" (click)="openForm()">
            <i class="fa fa-edit"></i>
            Edit</a>
        </div>
      </div>
    </div>

<!-- data-aos-duration="800" data-aos="fade-up" -->
<section class="section1 mt-5">
  <div class="container">

    <h2 class="decor2">Chronic Diseases</h2>
    <div style="overflow-x: auto;">
      <table border="1px" class="table-disease" *ngIf="chronic_disease_user?.length !== 0 ">
        <thead class="p-2" *ngIf="chronic_disease_user?.length != undefined">
          <th class="p-2 color-transparent">#</th>
          <th class="p-2">Name</th>
          <th class="p-2">Created_At</th>
          <th class="p-2 larg">Option</th>
          <th class="p-2 ">Status</th>

        </thead>
        <tr *ngFor="let d of chronic_disease_user; index as i">
          <td>{{i + 1}}</td>
          <td>{{nameOfUserDisease[i]}} </td>
          <td>{{d.created_at}}</td>

          <td *ngIf="d.status == 0">
            <div class="custom-control custom-control-dark custom-switch">
              <input type="checkbox" (click)="openDialog(d.id)" class="custom-control-input" [id]="'customSwitch'+i" />
              <label class="custom-control-label" [for]="'customSwitch'+i" ></label>
            </div>
          </td>

          <td *ngIf="d.status == 1">
            <div class="custom-control custom-control-dark custom-switch">
              <input type="checkbox" checked (click)="openDialog(d.id)" class="custom-control-input"
              [id]="'customSwitch'+i"  />
              <label class="custom-control-label" [for]="'customSwitch'+i" ></label>
            </div>
          </td>


          <td *ngIf="d.status == 1">
            You have not been cured
          </td>

          <td *ngIf="d.status == 0">
            You have been cured
          </td>

        </tr>

      </table>
    </div>

    <div style="text-align: left ;" class="zer">
      <span *ngIf="chronic_disease_user?.length == 0 || chronic_disease_user?.length == undefined">
        you does not have any Disease.
      </span>If you want to add Disease <a style="cursor: pointer; color: #1ccde9;"
        (click)="toggleActive('.disease-form');">click here</a>
    </div>

    <form [formGroup]="Disease_Form" class="disease-form">
      <select name="Chronic Diseases" formControlName='chronic_disease_id' class="selection-1 ">
        <option *ngFor="let d of chronic_disease ; let i = index " [selected]="i === 0" [value]="d.id">
          {{d.chronic_disease}}</option>
      </select>
      <button class="btn btn-info mt-3 mb-25" (click)="addUserDiseas(Disease_Form);">Add Disease</button>
    </form>

  </div>
</section>

    <!-- data-aos-duration="800" data-aos="fade-up" -->
    <section class="section2 mt-5 last-diagnosis">

      <div class="container">
        <h2 style="padding-top: 0;">The Last Diagnosis Of You</h2>
        <div>
          <div *ngFor="let di of diagosis; last as l; index as i">
            <div *ngIf="l">
              <div class="p-d">
                {{di.diagnosis}}
                <div class="buttons d-flex">
                  <span><a (click)="toggleActive('.diagosis-Form-update'); changeUpdateActive()"
                      style="color: #17a2b8;">Update</a></span>
                  <p class="create">
                    <i class="fa fa-calendar"></i><span> {{di.created_at | slice :0:10}}</span>
                  </p>
                </div>
              </div>

              <form [formGroup]="Diagosis_Form_update" class="diagosis-Form-update">
                <textarea name="Diagnosis" placeholder="Select your Diagnosis" formControlName="diagnosis"
                  class="form-control mb-4 mt-4" id="" cols="20" rows="5"></textarea>
                <button class="btn-add btn btn-info mb-4 mt-4"
                  (click)="updateUserDiagnosis(Diagosis_Form_update, di.id)">Update</button>
              </form>
            </div>
          </div>
        </div>


        <div style="text-align: left ; margin-top: 0 !important;" class="zer">
          <span *ngIf="diagosis?.length == 0 || diagosis?.length == undefined">
            you does not have any Diagnosis.
          </span>
          If you want to add Diagnosis <a style="cursor: pointer; color: #1ccde9;"
            (click)="toggleActive('.diagosis-Form-add'); changeAddActive()">click here</a>
          If you want to show all Diagnosis <a style="cursor: pointer; color: #1ccde9;"
            (click)="goToAllDiagnosis(); ">click here</a>
        </div>

        <form [formGroup]="Diagosis_Form_add" class="diagosis-Form-add">
          <textarea name="Diagnosis" formControlName="diagnosis" placeholder="Type your Diagnosis"
            class="form-control mb-4 mt-4" id="" cols="20" rows="5"></textarea>
          <button class="btn-add btn btn-info mb-4 mt-4" (click)="addUserDiagnosis(Diagosis_Form_add);">Add</button>
        </form>


      </div>
    </section>


    <section class="mb-15 ">
      <div class="container pb-12">

        <div class="edit-info">
          <div class="container ">

            <div class="text">
              <div class="zer mt-0">
                If you want to edit your information <a style="cursor: pointer; color: #1ccde9;"
                  (click)="openForm()">click here</a>
              </div>


              <div class="close-form">
                <i class="fa fa-times hidden" (click)="closeForm()"></i>
              </div>
            </div>


            <div class="row mt-25 edit-form hidden " id="edit">

              <div class="col-md-12">
                <div class="alert alert-info" role="alert" *ngIf="message">
                  {{message}}
                </div>

                <form [formGroup]='Edit_Form' (ngSubmit)="submit(Edit_Form)" autocomplete="off">

                  <div class="row">

                    <div class="col-md-6 col-xs-12">
                      <label for="first">Name <span>*</span></label>
                      <input type="text" class="form-control" [(ngModel)]="userInfo.full_name"
                        formControlName='full_name' placeholder="Full Name" name="full_name">
                      <div class="error">
                        <div *ngIf='Edit_Form.get("full_name").touched && Edit_Form.get("full_name").errors?.pattern'>
                          Please Type Only Characters At least 2.
                        </div>
                        <div *ngIf='Edit_Form.get("full_name").touched && Edit_Form.get("full_name").errors?.required'>
                          Name Is Required.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                      <label for="">Phone Number <span>*</span></label>
                      <input type="text" class="form-control" [(ngModel)]="userInfo.mobile" placeholder="Phone"
                        formControlName='mobile' name="phone">

                      <div class="error">
                        <div *ngIf='Edit_Form.get("mobile").touched && Edit_Form.get("mobile").errors?.pattern'>
                          Please Type Only Numbers At least 8 Numbers.
                        </div>
                        <div *ngIf='Edit_Form.get("mobile").touched && Edit_Form.get("mobile").errors?.required'>
                          Phone Number Is Required.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                      <label>National Number <span>*</span></label>
                      <input type="text" class="form-control" [(ngModel)]="userInfo.national_id"
                        formControlName='national_id' placeholder="National Id" name="national_id">
                      <div class="error">
                        <div
                          *ngIf='Edit_Form.get("national_id").touched && Edit_Form.get("national_id").errors?.pattern'>
                          Please Type 14 Numbers.
                        </div>
                        <div
                          *ngIf='Edit_Form.get("national_id").touched && Edit_Form.get("national_id").errors?.required'>
                          Id Is Required.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                      <label> Full Address <span>*</span></label>
                      <select name="address" class="form-control" [(ngModel)]="userInfo.address"
                        formControlName='address'>
                        <option *ngFor="let ad of address" [value]='ad.name'>
                          {{ad.name}}
                        </option>
                      </select>
                      <div class="error">
                        <div *ngIf='Edit_Form.get("address").touched && Edit_Form.get("address").errors?.required'>
                          Address Is Required.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <label>Birth Of Date<span>*</span></label>
                      <input type="date" name="date_of_birth" [(ngModel)]="userInfo.date_of_birth" class="form-control"
                        formControlName='date_of_birth'>
                      <div class="error">
                        <div
                          *ngIf='Edit_Form.get("date_of_birth").touched && Edit_Form.get("date_of_birth").errors?.required'>
                          Birth Date Is Required.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <label for="">Gender <span>*</span></label><br>
                      <select name="gender" class="form-control" [(ngModel)]="userInfo.sex" formControlName='sex'>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
                      <div class="error">
                        <div *ngIf='Edit_Form.get("sex").touched && Edit_Form.get("sex").errors?.required'>
                          Gender Is Required.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <label>State <span>*</span></label><br>
                      <select name="State" [(ngModel)]="userInfo.social_status" class="form-control"
                        formControlName='social_status' placeholder=" status" name="social_status">
                        <option value="single">Single</option>
                        <option value="married">Married</option>
                      </select>
                      <div class="error">
                        <div
                          *ngIf='Edit_Form.get("social_status").touched && Edit_Form.get("social_status").errors?.pattern'>
                          Please Type Only Characters.
                        </div>
                        <div
                          *ngIf='Edit_Form.get("social_status").touched && Edit_Form.get("social_status").errors?.required'>
                          Status Is Required.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <label>Blood Type <span>*</span></label><br>
                      <select name="blood_type" formControlName='blood_type' [(ngModel)]="userInfo.blood_type"
                        placeholder="blood" class="custom-select">
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                      </select>
                      <div class="error">
                        <div
                          *ngIf='Edit_Form.get("blood_type").touched && Edit_Form.get("blood_type").errors?.required'>
                          Blood Type Is Required.
                        </div>
                      </div>
                    </div>

                    <div class="error" style="width: 100%;">
                      <div *ngIf='erroeMassage'>
                        {{erroeMassage}}
                      </div>
                    </div>

                    <button type="submit" [disabled]="!Edit_Form.valid">Update</button>
                  </div>
                </form>


              </div>
            </div>

          </div>
        </div>

      </div>
    </section>


  </div>
  <app-footer></app-footer>
</div>



