
 .chart-canvas{
    width: 100%;
   
    display: none;
}
.chart-canvas canvas{
    height: 360px !important;
    width: 92% !important;
}





   :root {
    /* Color Theming */
    --first-bg-color:  #252f3b; 
    --second-bg-color: #1B2533;
    --first-font-color: white;
    --second-font-color: #21cd92; 
    --overall-top-margin: 30px;
    --dashboard-margin: 40px;
    --nav-side-bar-margin-left: 20px;     
    --border-radius: 10px;
    --font-size-xs: 16px;
    --font-size-medium: 28px;
    --font-size-large: 48px;
  }

/* CSS Styling Admin Dashboard Header */

h2{
    text-align: center;
    margin: 30px 0 40px;
    font-size: 30px;
    font-weight: 500;
    color: var(--black);
  }

h3
{
    color: white;
}
.dashboard-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 var(--dashboard-margin);
    padding-bottom: 50px;
    gap: 50px;
}
.content.d-flex{
    justify-content: space-between;
    width: 96% ;
    margin: auto;
}
@media only screen and (max-width: 1200px) {
    .dashboard-cards{
        grid-template-columns: 1fr;
    }
}

.card {
    width: 100%;   
    background-color: #1d0ebbd3;;
    border-radius: 10px;
    box-shadow:  10px 10px 10px #7367f0;;
}

.chart-canvas {
    margin: 20px;
    position: relative;
    min-height: 250px;
}

.chart-options {
    position: absolute;
    right: 30px;
    top: 14px;
}

#cashstreamEC {
    background-color: transparent;
    color: var(--second-font-color);
    border: none;
    outline: none;
    font-size: 16px;
}

#cashstreamEC option {
    color: #666;
    background-color: transparent;
  }

  table
{
    text-align: center;
    width: 95%;
    background-color: #f8f9fa !important;
}
.table-name{
    margin-top: 4rem;
    color: var(--black);
    font-weight: 500;
    font-weight: 500;
    font-size: 30px;
}
td{
    text-align: center;
    vertical-align: middle;
}
.blueData
{
color: rgb(65, 65, 214);
}
.admin

{
    background-color:#1d0ebbd3;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    box-shadow:  10px 10px 10px #7367f0;
}
img
{
    width:50px;
border-radius: 50%;
}
.icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    background-color:#1d0ebbd3;
    margin: auto;
    border-radius: 50%;

    font-size: 2.5rem;
   
}

.spinner
{
  
 
    width: 4%;
    height: 7%;
    background-color: #1d0ebbd3;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50px);
    position: fixed;
    top: 50%;
    left: 96%;
    z-index: 9999999999999999;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.spinner i{
    font-size: 15px;
    text-align: center;
    color: white;

}

span
{
    padding: 7px;
    border-radius: 50%;
    font-size: 12px;
}
.icona1
{    
   color: #1d0ebbd3;
   margin-right: 2px;
}
.icona2
{
    color:  #dc3545;
}

.tab{
    overflow-x: auto;
    width: 100%;
}
table th ,
table td{
    white-space: nowrap;
    text-align: left;
}

p.text{
    text-align: left;
    line-height: 25px;
    font-weight: 100;
    font-size: 15px;
}
@media (max-width:1024px) {
    table td{
        font-size: 13px;
    }
}


 
#plots{
    width: 100%;   
    margin: auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow:  10px 10px 10px #afabdb;;
    height: 300px;
    border: 1px solid #ebe9f1;
}

#lineChart
{
width: 100%;   
margin: auto; 
border-radius: 10px;
box-shadow:  10px 10px 10px #afabdb;;
height: 300px;
border: 1px solid #ebe9f1;
}
i{
cursor: pointer;
font-size: 16px;
}
.adv{
    white-space: normal !important;
    display: flex;
    align-items: center;
}
.example-accordion-item-body{
    padding: 0 !important;
}
.mt-20{
    margin-top: 20px !important;
}
::ng-deep .ngx-pagination li:hover{
    background-color: var(--black) !important;
  }
  ::ng-deep .ngx-pagination .current{
    background-color: var(--black) !important;
  }
  ::ng-deep .ngx-pagination .disabled {
    color: #585151 !important;
  }
  @media (max-width:575px) {
    .hidden-sm{
      display: none !important;
    }
    .container{
      padding: 15px;
      font-size: small;
    }
    .content{
      width: 100%;
      display: block;
    }
    .table{
      margin: auto;
      width: 100%;
    }
    table td , th{
      font-size:11px;
      padding: 3px;
    }
  }