<div class="add-disease">
    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <h1>Add Disease</h1>
                <div class="alert alert-info" role="alert" *ngIf="message">
                    {{message}}
                </div>
                <form [formGroup]='myGroup' (ngSubmit)="add(myGroup)">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <label>chronic_disease <span>*</span></label>
                            <input type="text" class="form-control" formControlName='chronic_disease'
                                placeholder="Type Chronic Disease" name="chronic_disease">
                            <div class="error" *ngIf='myGroup.get("chronic_disease").touched && 
                                myGroup.get("chronic_disease").errors?.required'>
                                 Chronic Disease Is Required.
                            </div>
                        </div>

                        <div class="col-md-12 col-xs-12">
                            <label>Description<span>*</span></label>
                            <textarea type="text" class="form-control" rows="3" formControlName='description'
                                placeholder="Type Description" name="description"></textarea>
                            <div class="error" *ngIf='myGroup.get("description").touched && 
                                myGroup.get("description").errors?.required'>
                                Description Is Required.
                            </div>
                        </div>

                        <div class="col-md-12 col-xs-12">
                            <label>Treatment<span>*</span></label>
                            <textarea type="text" class="form-control" rows="3" formControlName='treatment' 
                                placeholder="Type Treatment"
                                name="treatment"></textarea>
                            <div class="error" *ngIf='myGroup.get("treatment").touched && 
                                myGroup.get("treatment").errors?.required'>
                                Treatment Is Required.
                            </div>
                        </div>

                        <div class="col-md-12 col-xs-12">
                            <label for="first">Syndrome<span>*</span></label>
                            <textarea type="text" class="form-control" rows="3" formControlName='syndrome' 
                                placeholder="Type Syndrome"
                                name="syndrome"></textarea>
                            <div class="error" *ngIf='myGroup.get("syndrome").touched && 
                                myGroup.get("syndrome").errors?.required'>
                                Syndrome Is Required.
                            </div>
                        </div>

                        <div class="error" style="width: 100%;">
                            <div *ngIf='erroeMassage'>
                                {{erroeMassage}}
                            </div>
                        </div>

                        <button type="submit" [disabled]="!myGroup.valid">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>