<div class="all-disease">
  <div class="container">
    <h2>All Diseases</h2>

        <table class="table ">
            <thead class="table-secondary">
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Syndrome</th>
                <th>Treatment</th>
                <th>Created_At</th>
                <th>Actions</th>
            </thead>

            <tr *ngFor="let d of disease| paginate : {
              itemsPerPage: tableSize,
              currentPage: page,
              totalItems: count
            };; let i = index" >
                <td>{{i+1}}</td>
                <td>
                    {{d.chronic_disease}}
                </td>
                <td class="no-p">  
                    <cdk-accordion class="example-accordion">
                        <cdk-accordion-item #accordionItem="cdkAccordionItem" class="example-accordion-item" role="button"
                            tabindex="0" [attr.id]="'accordion-header-' + i" [attr.aria-expanded]="accordionItem.expanded"
                            [attr.aria-controls]="'accordion-body-' + i"><span class="example-accordion-item-header" (click)="accordionItem.toggle()">
                                {{d.description|slice:0:30}}<span class="example-accordion-item-body" role="region"
                                [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + i"[attr.aria-labelledby]="'accordion-header-' + i">{{d.description|slice:30}}</span><span class="example-accordion-item-description text-primary">{{ accordionItem.expanded ? ' less' : ' more...' }}
                                </span>
                            </span>
                        </cdk-accordion-item>
                    </cdk-accordion>
                </td>
                <td class="no-p">
                
                    <cdk-accordion class="example-accordion">
                        <cdk-accordion-item #accordionItem1="cdkAccordionItem" class="example-accordion-item" role="button"
                            tabindex="0" [attr.id]="'accordion-header-' + i" [attr.aria-expanded]="accordionItem1.expanded"
                            [attr.aria-controls]="'accordion-body-' + i"><span class="example-accordion-item-header" 
                            (click)="accordionItem1.toggle()">
                                {{d.syndrome|slice:0:30}}<span class="example-accordion-item-body" 
                                role="region"[style.display]="accordionItem1.expanded ? '' : 'none'" 
                                [attr.id]="'accordion-body-' + i"[attr.aria-labelledby]="'accordion-header-' + i">{{d.syndrome|slice:30}}</span><span class="example-accordion-item-description text-primary">{{ accordionItem1.expanded ? ' less' : ' more...' }}
                                </span>
                            </span>
                        </cdk-accordion-item>
                    </cdk-accordion>

                </td>
                <td class="no-p">

                    <cdk-accordion class="example-accordion">
                        <cdk-accordion-item #accordionItem2="cdkAccordionItem" class="example-accordion-item" role="button"
                            tabindex="0" [attr.id]="'accordion-header-' + i" [attr.aria-expanded]="accordionItem2.expanded"
                            [attr.aria-controls]="'accordion-body-' + i"><span class="example-accordion-item-header" 
                            (click)="accordionItem2.toggle()">
                                {{d.treatment|slice:0:30}}<span class="example-accordion-item-body" 
                                role="region"[style.display]="accordionItem2.expanded ? '' : 'none'" 
                                [attr.id]="'accordion-body-' + i"[attr.aria-labelledby]="'accordion-header-' + i">{{d.treatment|slice:30}}</span><span class="example-accordion-item-description text-primary">{{ accordionItem2.expanded ? ' less' : ' more...' }}
                                </span>
                            </span>
                        </cdk-accordion-item>
                    </cdk-accordion>

                </td>
                <td class="blueData" (click)="goToshowDisease(d.id)">{{d.created_at | slice:0:10}}</td>
                <td>
                    <span class="icona1">
                        <i class="fa fa-pencil" (click)="goToEditDisease(d.id)" ></i> 
                     </span><span class="icona2"><i
                            class="fa fa-trash text-danger" (click)="deleteDisease(d.id)" ></i></span>
                </td>
            </tr>


        </table>
  
 

    <div class="d-flex justify-content-center mt-20 ">
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
      </pagination-controls>
      <div class="current-page"> current page: <span>{{page}}</span></div>
    </div>
  </div>

</div>